{% extends 'SocBundle::layout.html.twig' %}

{% block body %}
    <h1><span class="label label-success">Product list</span></h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr scope="row" class="alert-info">
                <!-- <th>Id  <span class="glyphicon glyphicon-search"></span></th> -->
                <th>Title <span class="glyphicon glyphicon-tags"></span></th>
                <th>Description  <span class="glyphicon glyphicon-th-list"></span></th>
                <th>Price <span class="glyphicon glyphicon-usd"></span></th>
                <th>Seller <span class="glyphicon glyphicon-user"></span></th>
                <th>Category <span class="glyphicon glyphicon-list-alt"></span></th>
                <th>Actions <span class="glyphicon glyphicon-pencil"></span></th>
                <th>Rate <span class="glyphicon glyphicon-heart"></span></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
          {% if ((product.bid and (product.bid.status != "Sold") and (product.bid.status != "Closed") and (product.bid.status != "Cancelled")) or product.bid == null) %}
            <tr scope="row">
                <!-- <td class="col-md-1"><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td> -->
                <td class="col-md-2"><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.title }}</a></td>
                <td class="col-md-3">{{ product.description }}</td>
                {% if product.bid %}
                  <td>{{ product.bid.actualPrice }}<br><br><i>{{ product.bid.status }}</i></td>
                {% else %}
                  <td>{{ product.price }}<br><br><i>(for reference)</i></td>
                {% endif %}
                <td class="col-md-2">{{ product.user.username }}</td>
                <td class="col-md-2"><a href="{{ path('category_show', { 'id': product.category.id }) }}">{{ product.category.title }}</a></td>
                <td class="col-md-2">
                  <a href="{{ path('product_show', { 'id': product.id }) }}"><button type="btn btn-default" class="btn btn-primary alert alert-info" name="button">Show</button></a>
                  {% if product.bid and app.user != product.user %}
                    {% if product.bid.status == 'bidding' %}
                      <a href="{{ path('bid_new', { 'id': product.id }) }}"><button type="btn btn-default" class="btn btn-primary alert alert-success" name="button">Bid</button></a>
                    {% elseif product.bid.status == 'direct buy' %}
                      <a href="{{ path('product_buy', { 'id': product.id }) }}"><button type="btn btn-default" class="btn btn-primary alert alert-success" name="button">Buy</button></a>
                    {% endif %}
                  {% endif %}
                  {% if app.user == product.user or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('product_edit', { 'id': product.id }) }}"><button type="btn btn-default" class="btn btn-primary alert alert-warning" name="button">Edit</button></a>
                  {% endif %}
                </td>
                <td class="col-md-1">{{product.rated.count}}</td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('product_new') }}"><button type="btn btn-default" class="btn btn-primary alert alert-success" name="button">New</button></a>
{% endblock %}
