{% extends 'SocBundle::layout.html.twig' %}

{% block body %}
    <h1><span class="label label-success">Product creation</span></h1>
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <select id="category_parentCateg" name="category[parentCateg]" required="required">
          {% for categ in categories %}
            <option value="{{ categ.id }}">{{ categ.title }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
