{% extends 'SocBundle::layout.html.twig' %}

{% block body %}
    <h1><span class="label label-success">Product</span></h1>
    <div class="jumbotron">
    <table>
        <tbody class="table table-hover">
            <tr  scope="row">
                <th>Id: </th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th scope="row">Title: </th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th scope="row">Description: </th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th scope="row">Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th scope="row">Category</th>
                <td><a href="{{ path('category_show', { 'id': product.category.id }) }}">{{ product.category.title }}</a></td>
            </tr>
        </tbody>
    </table>

    </div>

    <p class="col-sm-10">
      <a href="{{ path('product_index') }}"><button type="button" class="btn btn-default alert alert-info btn-lg">Back to the list</button></a>
      {% if app.user == product.user or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('product_edit', { 'id': product.id }) }}"><button type="button" class="btn btn-default alert alert-warning btn-lg">Edit</button></a>
      {{ form_start(delete_form) }}
          <input type="submit" value="Delete" class="btn btn-default alert alert-danger btn-lg pull left">
      {{ form_end(delete_form) }}
    {% endif %}
    </p>

{% endblock %}
