{% extends 'SocBundle::layout.html.twig' %}

{% block body %}
{% if message is defined %}
  <h3><span class="label label-danger text">{{ message }}</span></h3>
{% endif %}
<div class="container-fluid">
  <div class="container-fluid col-sm-12 row">
    <h1><span class="label label-success">Product</span></h1>
    <div class="jumbotron col-sm-9">
    <table>
        <tbody class="table table-hover">
            <!-- <tr  scope="row">
                <th>Id: </th>
                <td>{{ product.id }}</td>
            </tr> -->
            <tr>
                <th scope="row">Title: </th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th scope="row">Description: </th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                {% if product.bid %}
                  <th>Actual price: </th>
                  <td>{{ product.bid.actualPrice }}</td>
                {% else %}
                  <th scope="row">Reference price: </th>
                  <td>{{ product.price }}</td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Category</th>
                <td><a href="{{ path('category_show', { 'id': product.category.id }) }}">{{ product.category.title }}</a></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="col-sm-1"></div>
    {% if product.bid %}
      <div class="panel panel-default col-sm-2">
        <div class="panel-heading">Bid</div>
        <div class="panel-body">
          <table>
            <tbody class="table table-hover">
                <tr  scope="row">
                    <th>Actual price: </th>
                    <td>{{ product.bid.actualPrice }}</td>
                </tr>
                <tr>
                    <th scope="row">Immediate price: </th>
                    <td>{{ product.bid.immediatePrice }}</td>
                </tr>
                <tr>
                    <th scope="row">Minimum bid: </th>
                    <td>{{ product.bid.minBid }}</td>
                </tr>
                <tr>
                    <th scope="row">Status: </th>
                    <td>{{ product.bid.status }}</td>
                </tr>
                <tr>
                    <th scope="row">End date: </th>
                    <td>{{ product.bid.endDate|date("m/d/Y", false) }}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="container-fluid col-sm-12 row">
    <table>
        <tbody>
          {% for rating in product.rated %}
            <tr>
                <th>Customer: </th>
                <td>{{ rating.rater.username }}</td>
            </tr>
            <tr>
                <th>Note: </th>
                <td>{% for i in 1..rating.rate %}
                  <span class="glyphicon glyphicon-star"></span>
                {% endfor %}
                {% if rating.rate < 5 %}
                  {% for i in 1..(5 - rating.rate) %}
                    <span class="glyphicon glyphicon-star-empty"></span>
                  {% endfor %}</td></td>
                {% endif %}
            </tr>
            <tr>
                <th>Comment: </th>
                <td>{{ rating.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
    <div class="container-fluid col-sm-12 row">
      {% if app.user != product.user %}
      <tr>
        <td><a href="{{ path('rating_new',{ 'id': product.id, 'type': 'product' })  }}"><button type="button" class="btn btn-default alert alert-info btn-lg">Rate this product</button></a></td>
      </tr>
      {% endif %}
      {% if app.user == product.user and product.bid == null %}
      <tr>
        <td><a href="{{ path('price_new',{ 'id': product.id })  }}"><button type="button" class="btn btn-default alert alert-success btn-lg">Put in sell</button></a></td>
      </tr>
      {% endif %}
      <a href="{{ path('product_index') }}"><button type="button" class="btn btn-default alert alert-info btn-lg">Back to the list</button></a>
      {% if app.user == product.user or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('product_edit', { 'id': product.id }) }}"><button type="button" class="btn btn-default alert alert-warning btn-lg">Edit</button></a>
      {{ form_start(delete_form) }}
          <input type="submit" value="Delete" class="btn btn-default alert alert-danger btn-lg pull left">
      {{ form_end(delete_form) }}
    {% endif %}
  </div>
</div>
{% endblock %}
